<div class="panel panel-default">

  <div class="panel-heading">
  	<h4>Confirm Items Sold and Submit</h4>
  </div>

  <div class="panel-body">
  	<div class="table-responsive">
	<table class="table table-hover" id="table-sell-slip">
		<thead>
			<tr>
			  <th style="width="150px;">Name</th>
        <th style="width="100px;">Part no</th>
			  <th style="width="100px;">Amount</th>
			  <th style="width="100px;">Quantity Ordered</th>
			</tr>
		</thead>
		<tbody>
      <tr ng-repeat="(key, value) in sold_items">
        <td style="width="150px;"><span ng-model="name">{{value.item_name}}</span></td>
        <td style="width="100px;"><span ng-model="partno">{{value.partno}}</span></td>
        <td style="width="100px;"><span ng-model="price">{{value.item_price | currency}}</span></td>
        <td style="width="100px;"><span ng-model="quantity">{{value.item_quantity}}</span></td>
      </tr>
		</tbody>
     <tfoot>
          <tr>
            <td id="table-sell-slip-footer">
              <h3 style="color:green;">{{total_amount | currency}}</h3>
            </td>
          </tr>
          <tr>
            <td>
              <button type="button" class="btncancel btn-danger btn-lg" id="btn-sell-slip-cancel">CANCEL</button>
            </td>
            <td>
              <button type="button" class="btnsubmit btn-primary btn-lg" id="btn-sell-slip-submit" ng-click="saveSoldItems()">SUBMIT</button>
            </td>
          </tr>
        </tfoot>
	</table>
	</div>
  </div>

</div>